.container {
  margin-top: 30px;
}
.input-area {
  margin-top: 30px;
}
.list-group {
  margin-top: 28px;
}
.input-area button {
  margin-left: 15px;
  width: 150px;
}
#completed {
  text-decoration: line-through;
}
.enableInput {
  pointer-events: none;
  border: none;
}
